.bioContainer{
  //border:1px solid black;
  margin-bottom: 30px;
  padding:20px;
  //background: linear-gradient(to bottom, #ccffff 0%, #00ccff 100%);
  //background-color: #03A9F4;
  color:green;
  font-style:italic;
  font-weight: bold;
 // border: 2px solid #03A9F4;
}

.button{
  color:'white';
  background-color: green;
}


.user-bio > button{
  align-items: center;

}