<<<<<<< HEAD

=======
>>>>>>> b6b56003f660c235df7135b8f1d68731cc0d7f07
$weights: (
  light: 300,
  regular: 400,
  semi-bold: 600,
  bold: 700,
  black: 900,
);

@each $weight, $value in $weights {
  .text--#{$weight} {
    font-weight: $value;
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> b6b56003f660c235df7135b8f1d68731cc0d7f07
