$font-family: "Source Sans Pro", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;

$indezone-navy: #1a162d;

$weeks-colors: #54a0ff, #48dbfb, #1dd1a1, #5f27cd;
$booked-color: #50abe4;
$danger-color: #ee5253;
$error-color: #ff9f43;
$confirm-color: #10ac84;

$indezone-navy: #1a162d;
$indezone-blue:  #50abe4;
$indezone-yellow: #fae105;

$spacing: 1rem;
 